@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
h1,
h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    color: blue;
}
.active{
    color: black;
}
h2 {
    font-size: 3em;
    color: red;
    width: 96%;
    background-color: rgba(0,0,0,0.5);
}

.button {
    display: none;
}

body {
    background: url("../pic/supertysymbo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    padding-bottom: 1em;
    margin: 0%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    outline: none;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: blue;
}

.s {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.t {
      margin: 2.5em;
    width: 50%;
}

p {
    font-size: 290%;
}

.tag {
    width: 1.6em;
    margin-right: 2em;
}

ul {
    list-style-type: none;
    overflow: hidden;
    border-bottom: solid;
    background: radial-gradient(white, orange, darkblue);
}

li {
    display: inline;
    text-align: center;
    color: darkblue;
    padding: 1em .5em;
    font-size: 2em;
    transition-duration: 1s;
}

a {
    text-decoration: none;
}

li:hover {
    background-color: white;
}

footer {
    display: block;
    border-top: dashed;
    width: 96%;
    border-color: blue;
    padding: 0px;
}
.m{
    font-size: 2em;
}

.p {
    color: orangered;
    width: 96%;
    background-color: rgba(0,0,0,0.5);
}

.nav-item{
  display: inline;
  margin-left: 21px;
}
.fa{
    margin-right: 10%;
}
.nav-toggle{
  display: none;
  background: linear-gradient(white,grey,blue);
}
img {
   width: 100%; 
}



@media(max-width: 500px){
  .nav-item{
    display: block;
    
  }
  .nav-toggle{
    display: inline; 
    cursor: pointer;
  }
  .mobile-nav-hidden{
    display: none;
  }

}




